body {
	background-image:url("/assets/background.png");
}

.header {
	float:top;
	height:20%;
	width:80%;
	text-align:center;
}

#navBar {
	position:absolute;
	width:10%;
	height:100%;
	border-style:solid;
	background-color:rgb(49,60,80);
}

.background {
	width:100%;
	height:100%;
}

li {
	list-style-type:none;
}

.navBarItem {
	position:absolute;
	width:100%;
	height:20%;
	left:0%;
}

.navBarInput {
	type:'image';
	alt:'Submit';
	height:100%;
	width:100%;
}

#homeItem {
	top:0%;
}

#home {
	src:url("/assets/hiveIcon.png");
}

#messagesItem {
	top:20%;
}

#messages {

}

#composeItem {
	top:40%;
}

#compose {

}

#contactsItem {
	top:60%;
}

#contacts {

}

#logoutForm {
	top:80%;
}

#logout {

}

#mainWindow {
	position:absolute;
	width:90%;
	height:100%;
	left:10%;
	top:0%;
}

.table-striped {
	width:100%;
}

#messagesTab {

}

#messagesTable {

}