doctype html
html(lang="en")
    head
        title User Dashboard
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
        link(rel="stylesheet", href ="/dashboard.css")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
        script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")

        // JavaScript Event Listener Logic
        script(type='text/javascript' src='/dashboard.js')

    // Main Body
    body(style='background-image:url("/assets/background.png");')

        // Main Header
        div(id='header')
            div(id='mainTitle' style='text-align:center;width:80%;')
                h1 Welcome to Hive!

        // Side Button Bar
        nav(class="navbar navbar-nav" id='navBar' style='position:absolute;width:10%;height:100%;left:0%;top:0%;border-style:solid;background-color:rgb(49,60,80);')

            li(class='active' style='position:absolute;width:100%;height:20%;left:0%;top:0%; padding-top:25px; padding-bottom:25px' )
                input(id='home' style='width:100%; height:100%;' type='image' src="/assets/hive.png" alt='Submit' href='#')

            li(style='position:absolute;width:100%;height:20%;left:0%;top:20%;')
                input(id='messages' style='width:100%; height:100%;' type='image' src="/assets/notifications.png" alt='Submit' href='#')

            li(style='position:absolute;width:100%;height:20%;left:0%;top:40%;padding-top:25px; padding-bottom:25px')
                input(id="compose" style='width:100%; height:100%;' type='image' src="/assets/sent.png" alt='Submit' href='#')

            li(style='position:absolute;width:100%;height:20%;left:0%;top:60%;')
                input(class="contacts" style='width:100%; height:100%;' type='image' width='230' height='230' src="/assets/Contacts.png" alt='Submit' href='#')

            form.form-horizontal(method='post', action='/logout')
                div(style='position:absolute;width:100%;height:20%;left:0%;top:80%;')
                    button.btn.btn-default(type='submit' class='img-rounded' style='width:100%;height:100%;left:0%;top:0%;') Logout

        // Messages Tab
        div(class='tab' id='messagesTab' style='position:absolute;width:80%;height80%;left:10%;top:10%;border-style:solid;')
            table(class='table' id='messagesTable' style='width:100%;')

        // Contacts Tab
        div.container(class='tab' id='contactsTab' name='contactsBackground' style='position:absolute;width:80%;height:80%;left:10%;top:10%;border-style:solid;')
            div.container(name='contactsView' style='position:absolute;width:100%;height:100%;left:0%;top:0%;')
                div.container(name='contactsHeading' style='position:absolute;width:100%;height:10%;left:0%;top:0%;')
                    div.container(name='contactsPopUpTitle' style='position:absolute;width:95%;height:50%;left:0%;top:25%;')
                        span My Contacts
                        button.btn.btn-default(id="closeContactsButton" style='position:absolute;width:height;height:100%;right:0%;top:0%;') X

                div.container(name='tableDiv' style='position:absolute;width:100%;height:80%;left:0%;top:10%;')
                    table(class='table' id='contactsTable' style='width:100%;')

        // Compose Message Tab
        div.container(class='tab' id='composeTab' name='composeBackground' style='position:absolute;width:80%;height:80%;left:10%;top:10%;border-style:solid;')
            div.container(name='composeView' style='position:absolute;width:100%;height:100%;left:0%;top:0%;')

                div.container(name='composeHeading' style='position:absolute;width:100%;height:5%;left:0%;top:0%;')
                    div.container(name='composePopUpTitle' style='position:absolute;width:95%;height:100%;left:0%;top:0%;')
                        span New Message
                        button.btn.btn-default(id='closeComposeButton' style='position:absolute;width:height;height:100%;right:0%;top:0%;') X

                div.container(name='composeTitle' style='position:absolute;width:100%;height:100%;left:0%;top:5%;')
                    span Title

                div.container(name='composeHeading' style='position:absolute;width:100%;height:5%;left:0%;top:10%;')
                    textarea(style='position:absolute;width:96%;height:100%;left:2%;top:0%;background-color:#f5e9e5;')

                div.container(name='composeContacts' style='position:absolute;width:100%;height:5%;left:0%;top:15%;')
                    div.container(name='composeContactsButton' style='position:absolute;width:20%;height:100%;left:80%;top:0%;')
                        button.btn.btn-default(class='contacts' type='submit' style='position:absolute;width:100%;height:100%;left:0%;top:0%;') Select Recipient(s)

                div.container(name='composeMessage' style='position:absolute;width:100%;height:75%;left:0%;top:20%;')
                    div.container(name='composeHeading' style='position:absolute;width:100%;height:5%;left:0%;top:0%;')
                        span Message
                    textarea(style='position:absolute;width:96%;height:95%;left:2%;top:5%;background-color:#f5e9e5;')

                div.container(name='composeSend' style='position:absolute;width:100%;height:5%;left:0%;top:95%;')
                    button.btn.btn-default(id='send' type='submit' style='position:absolute;width:20%;height:100%;left:80%;top:0%;') Send
