doctype html
html(lang="en")
    head
        title User Dashboard
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
        link(rel="stylesheet", href ="/dashboard.css")
        script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")

        // JavaScript Event Listener Logic
        script(type='text/javascript' src='/dashboard.js')

    // Main Body
    body
        div.container-fluid#content

            // Side Button Bar
            nav.navbar.navbar-nav#navBar

                li.navBarItem.active#homeItem
                    input.navBarInput#home(type='image' src="/assets/hiveIcon.png" alt='Submit')

                li.navBarItem#messagesItem
                    input.navBarInput#messages(type='image' src="/assets/notifications.png" alt='Submit')

                li.navBarItem#composeItem
                    input.navBarInput#compose(type='image' src="/assets/sent.png" alt='Submit' data-toggle="modal" data-target="#composeModal")

                li.navBarItem#contactsItem
                    input.navBarInput.contacts(type ='image' src="/assets/Contacts.png" alt='Submit' data-toggle="modal" data-target="#contactsModal")

                form.navBarItem.form-horizontal#logoutForm(method='post', action='/logout')
                    input.navBarInput#logout(type='image' src="/assets/reply.png" alt='Submit')

            // Main Window
            div#mainWindow

                // Home Tab
                div.tab#homeTab
                    h1 Welcome to Hive!
                    p#homeTitle
                    p#userName
                    p#userEmail
                    p#userTitle

                // Messages Tab
                div.tab#messagesTab
                    table.table#messagesTable

            // Contacts Modal
            div.modal#contactsModal(role='dialog')
                div.modal-dialog.modal-lg
                    div.modal-content
                        div.modal-header
                            button.close(type='button' data-dismiss="modal") &times;
                            h4.modal-title My Contacts
                        div.modal-body
                            table.table#contactsTable
                        div.modal-footer
                            button.btn.btn-default(type='button' data-dismiss='modal' data-toggle='modal' data-target='#composeModal') Compose
                            button.btn.btn-default(type='button' data-dismiss='modal') Close

            // Compose Message Modal
            div.modal#composeModal(role='dialog')
                div.modal-dialog.modal-lg
                    div.modal-content
                        div.modal-header
                            button.close(type='button' class='close' data-dismiss="modal") &times;
                            h4.modal-title New Message
                        div.modal-body
                            button.btn.btn-default.btn-lg.contacts#to(type='button' data-dismiss='modal' data-toggle='modal' data-target='#contactsModal') To
                            b
                                p.nextItem Subject
                            textarea#composeSubject
                            b
                                p.nextItem Details
                            textarea#composeDetails
                        div.modal-footer
                            button.btn.btn-default#send(type='button') Send
