doctype html
html(lang="en")

    link(rel="stylesheet", href="http://cs.iupui.edu/~lrthayer/hiveUserPortalResources/loginCSS.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")



    body(style='width:100%;')

        div.container(style='width:100%;')

            form.form-horizontal(method='post', action='/login')
                div(id='borderimg1' style='float:auto').form-group
                    label.col-sm-2.control-label(for="name") Email
                    div.col-sm-10
                        input#name.form-control(type="text", name="username", placeholder="")

                div(id='borderimg2' style='float:auto').form-group
                    label.col-sm-2.control-label(for="password") Password
                    div.col-sm-10
                        input#password.form-control(type="password", name="password", placeholder="")

                div(id='loginButton' style='float:auto').form-group
                    div.col-sm-offset-2.col-sm-10
                        button.btn.btn-default(type="submit") Submit